#index{
    background: -webkit-linear-gradient(black 0%, crimson 50%, pink 100%);
    height: 102em;
    background-repeat: no-repeat;
}
#frase{
    width: 80%;
    position: relative;
    bottom:2%;
    display: inline-block;
    margin-left: 1%;
    text-align: center;

}
#frase h1{
    margin-left:12%;
    font-size: 1.4em;
    font-size-adjust: inherit;
    font-family: cursive;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    color:rgb(238, 81, 102);
    -webkit-text-stroke: 1.5px rgb(22, 2, 16);
    width: 100%;
}

#logoinic{
    font-size: 100%;
    font-weight: bold;
    text-shadow: 2px 2px 8px crimson;
    color: black;
    font-variant: small-caps;
    margin-top: 5%;
}
h1{
    color: rgb(238, 151, 151);
    -webkit-text-stroke: 2px black;
    font-family: cursive;
    font-weight: bold;
    font-variant-caps: all-small-caps;
}
header{
    background-image: url(images/moon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 25rem;
    position: relative;
}

nav.home {
    background: -webkit-radial-gradient(grey 0%, crimson 50%,black 100%);  
}

form{
    margin-top: 50px;
}

li{
    counter-increment: li;
    font-size: 139%;
    color: rgb(24, 99, 99);
    -webkit-text-stroke: 1px black;
    list-style: none;
    margin-left: 1.5em;
}
li::before{
    content: counter(li);
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
}
.contenido{
    margin-left: 3%;
}
.table th{
    padding: 1%;
}
td{
    padding: 1%;
    width: 9rem;
    color: lightpink;
    -webkit-text-stroke: 1px black;
    font-size: 1rem;
    font-weight: bold;
    font-variant: small-caps;
}
.th{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-variant: small-caps;
}
.ranking{
    color: lightpink;
    -webkit-text-stroke: 1px black;
    margin-left: 3%;
}
footer{
    background: rgb(27, 26, 26);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
footer a{
    color: #70726F;
    font-size: 2.5em;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}
footer a:first-child{
    border-left: 1px splid #70726F;
}
footer a:hover{
    color: white;
}

.social{
    display: inline-block; 
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%; 
}


 